<a href="https://colab.research.google.com/github/lucaskrlima/bootcamp_soulcode_da/blob/main/Exercicio32_pyspark_LucasLima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from pyspark.sql.functions import regexp_replace
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Para deixar a visualição das tabelas mais amigável
spark

In [ ]:
'''
Requisito 1:
Em ambiente PySpark crie uma tabela com quatro atributos sendo o
primeiro qualitativo e os demais como quantitivos e dez registros
(linhas para a tabela) sem valores nulos.
'''

'''
Criação do schema(esqueleto) em pyspark
'''
from pyspark.sql.types import *
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DoubleType # importando estrutura da tabela (structType)
schema = StructType([ \
    StructField('clube',StringType(),True), \
    StructField('pontos',IntegerType(),True), \
    StructField('vitorias',IntegerType(),True), \
    StructField('gols_marcados', IntegerType(), True), \
  ])

'''
Criação do objeto (nível Python) 'dados_fut' que contém as tuplas com os regitros que farão
parte da tabela
'''
dados_fut = [('Botafogo',36,12,24),
    ('Flamengo',26,8,27),
    ('Gremio',26,8,24),
    ('Fluminense',24,8,21),
    ('Palmeiras',24,6,25),
    ('Bragantino',24,6,22),
    ('Fortaleza',23,6,16),
    ('Sao Paulo',22,6,18),
    ('Cruzeiro',21,6,16),
    ('Internacional',21,6,13)

  ]
'''
Criação do dataframe py spark passando como parâmetro a estutura da tabela com o objeto
que contém os registros
'''
df_py = spark.createDataFrame(data=dados_fut,schema=schema)
'''
Imprimi o schema do df_py
'''
df_py.printSchema()

'''
Mostrar o df_py
'''
df_py.show()

root
 |-- clube: string (nullable = true)
 |-- pontos: integer (nullable = true)
 |-- vitorias: integer (nullable = true)
 |-- gols_marcados: integer (nullable = true)

+-------------+------+--------+-------------+
|        clube|pontos|vitorias|gols_marcados|
+-------------+------+--------+-------------+
|     Botafogo|    36|      12|           24|
|     Flamengo|    26|       8|           27|
|       Gremio|    26|       8|           24|
|   Fluminense|    24|       8|           21|
|    Palmeiras|    24|       6|           25|
|   Bragantino|    24|       6|           22|
|    Fortaleza|    23|       6|           16|
|    Sao Paulo|    22|       6|           18|
|     Cruzeiro|    21|       6|           16|
|Internacional|    21|       6|           13|
+-------------+------+--------+-------------+

In [ ]:
'''
Requisito 2:
Em ambiente PySpark gerar um describe da tabela gerada no requisito anterior e recebê-lo
com um df pyspark.
'''
df_py.show()

df_describe = df_py.describe()

#df_describe.show()

df_describe = df_describe.drop("clube")

df_describe.printSchema()

df_describe.show()

+-------------+------+--------+-------------+
|        clube|pontos|vitorias|gols_marcados|
+-------------+------+--------+-------------+
|     Botafogo|    36|      12|           24|
|     Flamengo|    26|       8|           27|
|       Gremio|    26|       8|           24|
|   Fluminense|    24|       8|           21|
|    Palmeiras|    24|       6|           25|
|   Bragantino|    24|       6|           22|
|    Fortaleza|    23|       6|           16|
|    Sao Paulo|    22|       6|           18|
|     Cruzeiro|    21|       6|           16|
|Internacional|    21|       6|           13|
+-------------+------+--------+-------------+

root
 |-- summary: string (nullable = true)
 |-- pontos: string (nullable = true)
 |-- vitorias: string (nullable = true)
 |-- gols_marcados: string (nullable = true)

+-------+-----------------+-----------------+-----------------+
|summary|           pontos|         vitorias|    gols_marcados|
+-------+-----------------+-----------------+-----------------+
|  count|               10|               10|               10|
|   mean|             24.7|              7.2|             20.6|
| stddev|4.347413023856831|1.932183566158592|4.623610902506587|
|    min|               21|                6|               13|
|    max|               36|               12|               27|
+-------+-----------------+-----------------+-----------------+

In [ ]:
'''
Requisito 3:
Em ambiente PySpark Selecionar a linha de desvio padrão do df gerar uma lista
no ambiente python e armazená-lo com o nome sd
'''
sd = list(df_describe.collect()[2])
print(sd)

['stddev', None, '4.347413023856831', '1.932183566158592', '4.623610902506587']

In [ ]:
'''
Requisito 4:
Em ambiente Python, manipular essa lista e a partir dela gerar uma lista
com todos os valores numéricos da lista sd elevado ao quadrado e receber essa
nova lista com o nome var
'''
sd2 = sd[2:5] #gerando uma lista com os valores numéricos
sd3 = [float(i) for i in sd2] # convertando os valores da lista anterior de 'str' para 'float'

#percorre cada valor da lista anteriror 'sd3' e eleva ao quadrado
for n in sd3:
  n1 = sd3[0]**2
  n2 = sd3[1]**2
  n3 = sd3[2]**2

var = [n1, n2, n3] #cria uma lista com os valores elevado ao quadrado

print(sd3)
print(var)

[4.347413023856831, 1.932183566158592, 4.623610902506587]
[18.89999999999999, 3.733333333333334, 21.377777777777776]

In [ ]:
'''
Requisito 4:
versão professor
'''
sd.pop(0)
print(sd)
var = []
for i in range(len(sd)):
  sd[i] = float(sd[i])
  var.append(sd[i]**2)
print(var)

['4.347413023856831', '1.932183566158592', '4.623610902506587']
[18.89999999999999, 3.733333333333334, 21.377777777777776]

In [ ]:
'''
Requisito 5:
Transformar cada lista do requisito anterior em um df py spark
'''

#Primeira ideia foi criar novamente uma estrutura para cada lista
'''
from pyspark.sql.types import *
from pyspark.sql.types import StructType, StructField, DoubleType # importando estrutura da tabela (structType)
schema1 = StructType([ \
    StructField('pontos',DoubleType(),True), \
    StructField('vitorias',DoubleType(),True), \
    StructField('gols_marcados',DoubleType(), True), \
  ])

'''
#df_py2 = sd3
#df_py3 = var

#Aqui acontece um erro pois a lista não esta entre colchetes
#df_py2 = spark.createDataFrame(sd3)
#df_py3 = spark.createDataFrame(var)

#Método do professor
df_py_sd = spark.createDataFrame(data=[sd3])
df_py_var = spark.createDataFrame(data=[var])

df_py_sd.show()
df_py_var.show()

+-----------------+-----------------+-----------------+
|               _1|               _2|               _3|
+-----------------+-----------------+-----------------+
|4.347413023856831|1.932183566158592|4.623610902506587|
+-----------------+-----------------+-----------------+

+-----------------+-----------------+------------------+
|               _1|               _2|                _3|
+-----------------+-----------------+------------------+
|18.89999999999999|3.733333333333334|21.377777777777776|
+-----------------+-----------------+------------------+

In [ ]:
'''
Requisito 5:
Transformar cada lista do requisito anterior em um df py spark
'''
#primeiro converter as listas em tuplas (inferir schema)
sd3.insert(0, 'desvio padrao')
var.insert(0, 'variancia')

sd3 = tuple(sd3)
var = tuple(var)

var = spark.createDataFrame([var])

sd3 = spark.createDataFrame([sd3])

var.show()
sd3.show()

+---------+-----------------+-----------------+------------------+
|       _1|               _2|               _3|                _4|
+---------+-----------------+-----------------+------------------+
|variancia|18.89999999999999|3.733333333333334|21.377777777777776|
+---------+-----------------+-----------------+------------------+

+-------------+-----------------+-----------------+-----------------+
|           _1|               _2|               _3|               _4|
+-------------+-----------------+-----------------+-----------------+
|desvio padrao|4.347413023856831|1.932183566158592|4.623610902506587|
+-------------+-----------------+-----------------+-----------------+

In [ ]:
'''
Requisito 6:
Em ambiente Pyspark juntar os dois dfs criados no requisito anterior e
armazená-lo em um df pyspark chamado sd_var
'''

df_sd3_var = df_py_sd.union(df_py_var)
df_sd3_var.show()

+-----------------+-----------------+------------------+
|               _1|               _2|                _3|
+-----------------+-----------------+------------------+
|4.347413023856831|1.932183566158592| 4.623610902506587|
|18.89999999999999|3.733333333333334|21.377777777777776|
+-----------------+-----------------+------------------+

In [ ]:
'''
Requisito 7:
Em ambiente Pyspark gerar uma junção do df da variância com o df das medidas
'''
df_describe = df_describe.union(var)
df_describe.show()

+---------+-----------------+-----------------+------------------+
|  summary|           pontos|         vitorias|     gols_marcados|
+---------+-----------------+-----------------+------------------+
|    count|               10|               10|                10|
|     mean|             24.7|              7.2|              20.6|
|   stddev|4.347413023856831|1.932183566158592| 4.623610902506587|
|      min|               21|                6|                13|
|      max|               36|               12|                27|
|variancia|18.89999999999999|3.733333333333334|21.377777777777776|
+---------+-----------------+-----------------+------------------+

In [ ]:
'''
Requisito 8:
criar uma lista que contenha as modas de todos os atributos quantitativos
do df inicial e inseri-la no df pyskar de mesdidas
'''

[df_py.groupby(i).count().orderBy("count", ascending=False).first()[0] for i in df_py.columns]

moda = [df_py.groupby(i).count().orderBy("count", ascending=False).first()[0] for i in df_py.columns]

moda.pop(0) #exclui a coluna 'Clube' do df inicial

moda.insert(0,'moda') # insere uma linha com nome moda

moda = spark.createDataFrame([moda])

df_describe = df_describe.union(moda)

df_describe.show()

+---------+-----------------+-----------------+------------------+
|  summary|           pontos|         vitorias|     gols_marcados|
+---------+-----------------+-----------------+------------------+
|    count|               10|               10|                10|
|     mean|             24.7|              7.2|              20.6|
|   stddev|4.347413023856831|1.932183566158592| 4.623610902506587|
|      min|               21|                6|                13|
|      max|               36|               12|                27|
|variancia|18.89999999999999|3.733333333333334|21.377777777777776|
|     moda|               24|                6|                16|
|     moda|               24|                6|                16|
+---------+-----------------+-----------------+------------------+

In [ ]:
'''
Requisito 9:
Em ambiente Pyspark e Python e de forma semelhante ao que foi feito nos
requisitos anteriores

Calcule e adicione ao df de medidas do pyspark as seguintes linhas com seus
respectivos valores para as medidas:
* Mediana
* Q1
* Q3
* AT
* AIQ
* LS
* LI

'''
# 1 quartil, mediana e 3 quartil

df_py.approxQuantile(['pontos', 'vitorias', 'gols_marcados'], [0.25, 0.5, 0.75], 0 )

[[22.0, 24.0, 26.0], [6.0, 6.0, 8.0], [16.0, 21.0, 24.0]]

In [ ]:
# Fatiando a lista anterior
quartis = df_py.approxQuantile(['pontos','vitorias','gols_marcados'], [0.25,0.5,0.75], 0)
print(quartis)
q1 = [quartis[0][0], quartis[1][0], quartis[2][0]]
print(q1)
med = [quartis[0][1], quartis[1][1], quartis[2][1]]
print(med)
q3 = [quartis[0][2], quartis[1][2], quartis[2][2]]
print(q3)

[[22.0, 24.0, 26.0], [6.0, 6.0, 8.0], [16.0, 21.0, 24.0]]
[22.0, 6.0, 16.0]
[24.0, 6.0, 21.0]
[26.0, 8.0, 24.0]

In [ ]:
#minimo e máximo
min = df_describe.collect()[3]
minimo = [float(min['pontos']),float(min['vitorias']),float(min['gols_marcados'])]
print(minimo)

max = df_describe.collect()[4]
maximo = [float(max['pontos']),float(max['vitorias']),float(max['gols_marcados'])]
print(maximo)

[21.0, 6.0, 13.0]
[36.0, 12.0, 27.0]

In [ ]:
at = []
aiq = []
li = []
ls = []
for i in range(len(minimo)):
  at.append(maximo[i]-minimo[i])
  aiq.append(q3[i]-q1[i])
  li.append(q1[i]-1.5*aiq[i])
  ls.append(q3[i]+1.5*aiq[i])

q1.insert(0, 'Q1')
med.insert(0, 'mediana')
q3.insert(0, 'Q3')
at.insert(0, 'AT')
aiq.insert(0, 'AIQ')
li.insert(0, 'LI')
ls.insert(0, 'LS')

print(q1)
print(med)
print(q3)
print(at)
print(aiq)
print(li)
print(ls)

['Q1', 22.0, 6.0, 16.0]
['mediana', 24.0, 6.0, 21.0]
['Q3', 26.0, 8.0, 24.0]
['AT', 15.0, 6.0, 14.0]
['AIQ', 4.0, 2.0, 8.0]
['LI', 16.0, 3.0, 4.0]
['LS', 32.0, 11.0, 36.0]

In [ ]:
#Criando um df pyspark com as medidas anteriores
adc = spark.createDataFrame([q1,med,q3,at,aiq,li,ls])
adc.show()

+-------+----+----+----+
|     _1|  _2|  _3|  _4|
+-------+----+----+----+
|     Q1|22.0| 6.0|16.0|
|mediana|24.0| 6.0|21.0|
|     Q3|26.0| 8.0|24.0|
|     AT|15.0| 6.0|14.0|
|    AIQ| 4.0| 2.0| 8.0|
|     LI|16.0| 3.0| 4.0|
|     LS|32.0|11.0|36.0|
+-------+----+----+----+

In [ ]:
# unindo a tabela describe com a tabela adc
df_describe = df_describe.union(adc)
df_describe.show()

+---------+-----------------+-----------------+------------------+
|  summary|           pontos|         vitorias|     gols_marcados|
+---------+-----------------+-----------------+------------------+
|    count|               10|               10|                10|
|     mean|             24.7|              7.2|              20.6|
|   stddev|4.347413023856831|1.932183566158592| 4.623610902506587|
|      min|               21|                6|                13|
|      max|               36|               12|                27|
|variancia|18.89999999999999|3.733333333333334|21.377777777777776|
|     moda|               24|                6|                16|
|     moda|               24|                6|                16|
|       Q1|             22.0|              6.0|              16.0|
|  mediana|             24.0|              6.0|              21.0|
|       Q3|             26.0|              8.0|              24.0|
|       AT|             15.0|              6.0|              14.0|
|      AIQ|              4.0|              2.0|               8.0|
|       LI|             16.0|              3.0|               4.0|
|       LS|             32.0|             11.0|              36.0|
|       Q1|             22.0|              6.0|              16.0|
|  mediana|             24.0|              6.0|              21.0|
|       Q3|             26.0|              8.0|              24.0|
|       AT|             15.0|              6.0|              14.0|
|      AIQ|              4.0|              2.0|               8.0|
+---------+-----------------+-----------------+------------------+
only showing top 20 rows