<a href="https://colab.research.google.com/github/lucaskrlima/bootcamp_soulcode_da/blob/main/Exercicio_Aula_31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Exercício aula 31

Escolha uma das 8 tabelas do colab
e faça pelo menos

1 coleta de linha específica inteira,
1 coleta de valor específico,
1 Renomear de colunas
1 Adição de colunas
1
'''

In [ ]:
# instalação bibliotecas
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
# Criando ambiente virtual
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
# Criando cluster pyspark
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from pyspark.sql.functions import regexp_replace
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Para deixar a visualição das tabelas mais amigável
spark

In [ ]:
# importando funções sql do pyspark
from pyspark.sql.functions import *

In [ ]:
# Realizando leitura dos dados: customers
df_customers = spark.read.format("csv")\
    .option("inferSchema", "true")\
    .option("header", "true")\
    .load('/content/customers.csv')

In [ ]:
# Visualizando as 5 primeiras linhas do dataframe
df_customers.show(5)

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                    9790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                    1151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                    8775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 5 rows

In [ ]:
#Coletando dado de uma linha específica inteira
df_customers.collect()[5]

Row(customer_id='879864dab9bc3047522c92c82e1212b8', customer_unique_id='4c93744516667ad3b8f1fb645a3116a4', customer_zip_code_prefix=89254, customer_city='jaragua do sul', customer_state='SC')

In [ ]:
#Coletando um valor específico na quarta linha e terceira coluna
df_customers.collect()[4][3]

'campinas'

In [ ]:
# Renomeando colunas
df_py = df_customers.withColumnRenamed("customer_zip_code_prefix","cep").withColumnRenamed("customer_city","cidade").withColumnRenamed("customer_state","estado")
df_py.show(5)

+--------------------+--------------------+-----+--------------------+------+
|         customer_id|  customer_unique_id|  cep|              cidade|estado|
+--------------------+--------------------+-----+--------------------+------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|14409|              franca|    SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...| 9790|sao bernardo do c...|    SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...| 1151|           sao paulo|    SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...| 8775|     mogi das cruzes|    SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|13056|            campinas|    SP|
+--------------------+--------------------+-----+--------------------+------+
only showing top 5 rows

In [ ]:
# Adicionando coluna 'pais' no dataframe
df_py2 = df_py.withColumn("pais", expr("'BR'"))
df_py2.show(5)

+--------------------+--------------------+-----+--------------------+------+----+
|         customer_id|  customer_unique_id|  cep|              cidade|estado|pais|
+--------------------+--------------------+-----+--------------------+------+----+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|14409|              franca|    SP|  BR|
|18955e83d337fd6b2...|290c77bc529b7ac93...| 9790|sao bernardo do c...|    SP|  BR|
|4e7b3e00288586ebd...|060e732b5b29e8181...| 1151|           sao paulo|    SP|  BR|
|b2b6027bc5c5109e5...|259dac757896d24d7...| 8775|     mogi das cruzes|    SP|  BR|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|13056|            campinas|    SP|  BR|
+--------------------+--------------------+-----+--------------------+------+----+
only showing top 5 rows